<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <% @users && @users.each do |user|%>
  <tr>
    <td><%=user.firname%></td>
    <td><%=user.lastname%></td>
    <td><%=user.email%></td>
  </tr>
  <% end %>
</table>
<ul class="pull-right">
  <%= will_paginate @user, params: params, renderer: BootstrapPagination::Rails %>
  </ul>
<script type="text/javascript">
	$(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
  });

</script>
