  <div>
    <%#=link_to('SHOW USERS',role_users_path, class:'nav-link',remote: true)%>
</div>
<div class="container" id="user_details">
  <div class="filter">
    <%=form_with(url: user_filter_path) do |f|%>
      <%= select_tag :role_id, options_for_select(Role.role_status.collect {|p| [ p.name.titleize, p.id ]},{include_blank: "" }), :class=>"form-control" %>
      <%= f.submit 'submit',class:'btn'%>
    <% end %>
    <!-- <div class="form-group">
        <%#= select_tag :role_id, options_for_select(Role.role_status.collect {|p| [ p.name.titleize, p.id ]},{include_blank:"select Role"}), :class=>"form-control" %>
    </div> -->
  </div>
  <div id="index_view">
    <%= render 'table'%>
  </div>

</div>
